Django==1.9.2
Logbook==0.12.5
Markdown==2.6.5
argparse==1.2.1
decorator==4.0.9
django-extensions==1.6.1
django-filter==0.12.0
djangorestframework==3.3.2
futures==3.0.5
gunicorn==19.5.0
ipython==4.1.1
ipython-genutils==0.1.0
lxml==3.6.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psutil==4.1.0
ptyprocess==0.5.1
py==1.4.31
pycrypto==2.6.1
pyshark==0.3.6.1
python-dateutil==2.4.2
python-iptables==0.10.0
python-mimeparse==1.5.1
requests==2.9.1
scapy==2.3.2
simplegeneric==0.8.1
six==1.10.0
ssh==1.8.0
tblib==1.2.0
traitlets==4.1.0
trollius==1.0.4
wsgiref==0.1.2
