{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}

      <section id="main-content">
          <section class="wrapper">
	         <div class=" main-chart">
          		<div class="col-lg-6">
                  <div class="form-panel">
                  	   <h4 class="mb"><i class="fa fa-angle-right"></i> Machine Parameters:</h4>
					   {% if registered %}
                       <h1></h1>
                            <a href="/monitoring_app/pid/status/"></a><br />
                           {% else %}
                           <form id="machine_form" method="post" action="/monitoring_app/pid/add_machine/"
                                             enctype="multipart/form-data">

                               {% csrf_token %}

                                       {{ machine_form.as_p }}
                                              <!-- {{ profile_form.as_p }}-->
						  <button type="submit"  name="submit" class="btn btn-theme02">Add machine</button>
                                              </form>
                                    {% endif %}
					   
                      </form>
					   </form>
                  </div>	
          	</div>
			</div>
		</section>
      </section>
{% endblock %}