{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
           <section class="wrapper">
	 <div ng-controller="monitoringcontroller">

				    <div class=" main-chart">
			  
                    <div class="col-md-6 col-sm-4 box0">
                  		<div class="box1">
				             <h4><b>Registered phones : </b></h4>
					         <button type="button" class="btn btn-round btn-info" ng-click="getmachine2()">Get details !!!</button>
                             <h6><b><input type="text" ng-model="phone" size="30"/></b></h6>
                  		</div>             
						
						<div class="box1">
				             <h4><b>Make this freeSWITCH communicate with others : </b></h4>
					         <button type="button" class="btn btn-round btn-info" ng-click="getmachine3()">YES !!!</button>
                             <h6><b><input type="text" ng-model="stat" size="10"/></b></h6>

						</div>
						
					    <div class="box1">
				             <h4><b>Configure a number: </b></h4>
                             <h6><b>insert the number <input type="text" ng-model="confnumber" size="10"/></b></h6>
							 <button type="button" class="btn btn-round btn-info" ng-click="getmachine4()">YES !!!</button>
                             <h6><b> <input type="text" ng-model="statnumber" size="10"/></b></h6>
						</div>
                  	</div>
                    		 
					</div>
				                           
				</div>
                  	
			 </section>
		</section>
{% endblock %}