{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
           <section class="wrapper">
	 <div ng-controller="monitoringcontroller">

				<div class=" main-chart">
			  
                    <div class="col-md-6 col-sm-4 box0">
                  		<div class="box1">
				             <h4><b>Registered phones : </b></h4>
					         <button type="button" class="btn btn-round btn-info" ng-click="getmachine2()">Get details !!!</button>
                             <h6><b><input type="text" ng-model="phone" size="30"/></b></h6>
                  		</div>
                  	</div>
                    		 
					</div>
				                           
				</div>
                  	
			 </section>
		</section>
{% endblock %}