{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
           <section class="wrapper" >
	 <div ng-controller="monitoringcontroller">
	 				<div class=" main-chart"style="padding-top:0px">
					<div class="jumbotron"style="padding-top:0px;padding-bottom: 0px;margin-bottom:0px">
					<div style="width: 100%;">
	           <h1 style="float: left;">Check your machine details</h1>
       		<p><button type="button" class="btn btn-info" ng-click="getmachine1()"style="float: right;"> Get details </button>
  </p>
					     	</div>
						</div>
					 </div>	                            
			   
                    <div class="jumbotron" style="padding-top:0px;padding-bottom: 0px;margin-bottom:0px">
					
					
					<table class="table table-bordered">
    <thead>
      <tr>
        <th style="width:45%;line-height:1px;padding:0px;"><h3 align ="center">Executed test</h3></th>
        <th style="width:15%;line-height:1px;padding:0px;"><h3 align ="center">Results</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>firewall contains rules</h4></td>
         <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" ng-model="firewall" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"/></td>
      </tr>
      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>There is a default route</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text"style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;" ng-model="route"/></td>
      </tr>
      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>Delay in packet send</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"ng-model="delay"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>Status of disk usage(75%)</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text"style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;" ng-model="disk"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>There is a file(>500 Mo)</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"ng-model="volfile"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>CPU usage</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text"style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;" ng-model="cpu"/></td>
      </tr>
    </tbody>      <tr>
       <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>DHCP Service</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" ng-model="servicedhcp" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>DNS Service</h4></td>
       <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" ng-model="servicedns" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>Freeswitch Service</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" ng-model="servicefree" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"/></td>
      </tr>
    </tbody>
	      <tr>
        <td style="width:45%;line-height:1px;padding-top:0px;padding-bottom:0px;"><h4>ntp Service</h4></td>
        <td align="center" style="width:15%;line-height:1px;padding:0px;"><input type="text" ng-model="servicentp" style=" margin:0px;border:0px;border: 0px;background: transparent;text-align: center;"/></td>
      </tr>
    </tbody>
  </table>                 
                  	</div>
					</div>
				
                  	
			 </section>
		</section>
{% endblock %}