{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-9 main-chart"><div>
                  <h2><b>Check the PID of your process .</b></h2><br/>
                         Process_name :    <input type="text" ng-model="input"/><br/>
                         <button ng-click="getpid()" > Get</button>  <br/>
                          Process_pid :   <input type="text" ng-model="name"/><br/><br/>
                  <h2><b>Check if linux firewall contains rules .</b></h2><br/>
                         Firewall contains rules:    <input type="text" ng-model="firewall" size="8"/><br/>
                         <button ng-click="getfirewallstatus()"/> Get status</button>  <br/><br/>
                  <h2><b>Check if there is a delay in packet send (your dev).</b></h2><br/>
                         There is a delay in packet send :   <input type="text" size="8"ng-model="delay"/><br/>
                          <button ng-click="getdelay()" > Get status</button>  <br/><br/>
 		  <h2><b>check if services are running or not.</b></h2><br/>
			 DHCP Service      :<input type="text" ng-model="servicedhcp" size="8"/><br/><br/>
			 DNS Service       : <input type="text" ng-model="servicedns" size="8"/><br/><br/>
			 Freeswitch Service:    <input type="text" ng-model="servicefree" size="8"/><br/><br/>
   			 ntp Service  :    <input type="text" ng-model="servicentp" size="8"/><br/><br/>
			 <button ng-click="getservicesstatus()"/> Get Status </button>  <br/><br/>
		  <h2><b>Check if there is a default route.</b></h2><br/>
			 There is a default route:   <input type="text"size="8" ng-model="route"/><br/>
			 <button ng-click="getroute()" > Get</button>  <br/><br/>
		  <h2><b>Check if the disk usage is greater than 75%  .</b></h2><br/>
			 Status of your disk:   <input type="text"size="8" ng-model="disk"/><br/>
			 <button ng-click="getdisk()" > Get</button>  <br/><br/>
			 <h2><b>Check if there is a voluminous file >500 Mo .</b></h2><br/>
 			 There is a voluminous file :   <input type="text" size="8"ng-model="volfile"/><br/>
			 <button ng-click="getvolfile()" > Get</button>  <br/><br/>
		  <h2><b>Check the CPU usage.</b></h2><br/>
  			 CPU usage :   <input type="text"size="8" ng-model="cpu"/><br/>
			 <button ng-click="getcpu()"/>Get</button>  <br/><br/>
                  </div>
             </div>
			 
			 </section>
			 </section>
{% endblock %}