{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
           <section class="wrapper">
	 <div ng-controller="monitoringcontroller">
	 				<div class=" main-chart">
					<button type="button" class="btn btn-round btn-info" ng-click="getmachine1()">Get details !!!</button>

</div>	                            
				<div class=" main-chart">
			   
				   <div class="col-md-6 col-sm-4 box0">
              			<div class="box1">
                             <h4><b>Services Status</b></h4></br>
			                 <h6><b>DHCP Service      :<input type="text" ng-model="servicedhcp" size="8"/><br/></b></h6>
			                 <h6><b>DNS Service       : <input type="text" ng-model="servicedns" size="8"/><br/></b></h6>
							 <h6><b>Freeswitch Service:    <input type="text" ng-model="servicefree" size="8"/></b></h6>
							<h6><b>ntp Service  :    <input type="text" ng-model="servicentp" size="8"/></b></h6>
							<!-- <button ng-click="getservicesstatus()"/> Get Status </button> -->
                  		</div>
                  	</div>
                    <div class="col-md-6 col-sm-4 box0">
                  		<div class="box1">
				             <h4><b>firewall contains rules </b></h4>
                             <h6><b><input type="text" ng-model="firewall" size="12"/></b></h6>
                           <!--  <button ng-click="getfirewallstatus()"/> Get status</button>  -->
                  		</div>
                  	</div>
                    		 
					<div class="col-md-6 col-sm-4 box0">
                 		<div class="box1">     
							<h4><b>There is a default route</b></h4>
							<h6><b> <input type="text"size="14" ng-model="route"/></b></h6>
							<!--<button ng-click="getroute()" > Get</button>-->  
						</div>
                  	</div>
					<div class="col-md-6 col-sm-4 box0">
                  		<div class="box1">
							<h4><b>Delay in packet send </b></h4>
							<h6><b>  <input type="text" size="8"ng-model="delay"/></b></h6>
							<!--<button ng-click="getdelay()" > Get status</button> --> 
                  		</div>
                  	</div> 
					<div class="col-md-6 col-sm-4 box0">
						<div class="box1">
							<h4><b>CPU usage.</b></h4>
							<h6><b><input type="text"size="12" ng-model="cpu"/></b></h6>
							<!--<button ng-click="getcpu()"/>Get</button> --> 
						</div>
					</div>
					<div class="col-md-6 col-sm-4 box0">
						<div class="box1">
							<h4><b>There is a file(>500 Mo)</b></h4>
							<h6><b>  <input type="text" size="16"ng-model="volfile"/></b></h6>
							<!--<button ng-click="getvolfile()" > Get</button> --> 		
						</div>
					</div>
					<div class="col-md-6 col-sm-4 box0">
                  		<div class="box1">
							<h4><b>Status of disk usage(75%)</b></h4>
							<h6><b>  <input type="text"size="10" ng-model="disk"/></b></h6> 
							<!--<button ng-click="getdisk()"> Get</button> -->
                  		</div>
                  	</div>
					</div>
				</div>
                  	
			 </section>
		</section>
{% endblock %}