{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-9 main-chart"><div>
                  <h2><b>Check the status of your servers .</b></h2><br/>
                         Server 1:    <input type="text" ng-model="input"/><br/>
                         Server 2:    <input type="text" ng-model="input"/><br/>
                         Server 3:    <input type="text" ng-model="input"/><br/>
                  </div>
             </div>
			 
			 </section>
			 </section>
{% endblock %}