{% extends "monitoring_app/bases/index.html" %}
{% load staticfiles %}

{% block content %}
      <section id="main-content">
          <section class="wrapper">
                  <div class="main-chart"><div>
                  <h2><b>Check the status of your Machines </b></h2><br/>						  
						 {% for machine in machine_detail %}
						 <div class="col-md-3 col-sm-3 box0">
                  			<div class="box1">
							
							    <h2> {{ machine.Name_machine }}</h2>
					  			<span class="li_data"></span>
					  			<h3>OK!</h3>
                  			</div>
					  			<p>Your machine is working perfectly. Relax & enjoy.</p>
								<br/>
                  		</div>
                  	{% endfor %} 
                  </div>
			 </section>
			 </section>
{% endblock %}